# Your shop name (https://admin.shopify.com/store/YOUR_SHOP_NAME)
NUXT_SHOPIFY_NAME="YOUR_SHOP_NAME"

# Storefront API
NUXT_SHOPIFY_CLIENTS_STOREFRONT_API_VERSION="2026-01"
NUXT_SHOPIFY_CLIENTS_STOREFRONT_PUBLIC_ACCESS_TOKEN="YOUR_PUBLIC_ACCESS_TOKEN"
NUXT_SHOPIFY_CLIENTS_STOREFRONT_PRIVATE_ACCESS_TOKEN="YOUR_PRIVATE_ACCESS_TOKEN"

# Customer Account API
NUXT_SHOPIFY_CLIENTS_CUSTOMER_ACCOUNT_API_VERSION="2026-01"
NUXT_SHOPIFY_CLIENTS_CUSTOMER_ACCOUNT_CLIENT_ID="YOUR_APP_CLIENT_ID"

# Admin API
NUXT_SHOPIFY_CLIENTS_ADMIN_API_VERSION="2026-01"
NUXT_SHOPIFY_CLIENTS_ADMIN_CLIENT_ID="YOUR_APP_CLIENT_ID"
NUXT_SHOPIFY_CLIENTS_ADMIN_CLIENT_SECRET="YOUR_APP_CLIENT_SECRET"

# Webhooks
NUXT_SHOPIFY_WEBHOOKS_SECRET="YOUR_WEBHOOKS_SECRET"
